<mat-card>
    <mat-card-title> Editar Usuario </mat-card-title>
    <mat-card-content>
  
      <div class="usuario">
        
        <mat-card>
            <mat-card-title> Modificar Usuario </mat-card-title>
            <mat-card-content>
              <div class="conteudo-usuario">
                <mat-form-field>
                  <mat-label for="nome">Digite o nome</mat-label>
                  <input matInput placeholder="{{usuario.nome}}" type="text" name="nome" [(ngModel)]="nome"/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="idade">Digite o idade</mat-label>
                  <input matInput placeholder="{{usuario.idade}}" type="number" name="idade" [(ngModel)]="idade" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="pais">Digite a País</mat-label>
                  <input matInput placeholder="{{usuario.pais}}" type="text" name="pais" [(ngModel)]="pais"/>
                </mat-form-field>
              </div>
            </mat-card-content>
        </mat-card>
  
      </div>
  
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="editar()">Editar</button>
        </mat-card-actions>
        
    </mat-card-content>
</mat-card>