<mat-card>
    <mat-card-title> Cadastrar jogo </mat-card-title>
    <mat-card-content>
  
      <div class="jogo">
        
        <mat-card>
            <mat-card-title> Adicionar Jogo </mat-card-title>
            <mat-card-content>
              <div class="conteudo-jogo">
                <mat-form-field>
                  <mat-label for="nome">Nome do jogo</mat-label>
                  <input matInput placeholder="Nome Jogo" type="text" name="nome" [(ngModel)]="nome" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="genero">Gênero do Jogo</mat-label>
                  <input matInput placeholder="Gênero" type="text" name="genero" [(ngModel)]="genero" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="plataforma">Plataforma do Jogo</mat-label>
                  <input matInput placeholder="Plataforma" type="text" name="plataforma" [(ngModel)]="plataforma" />
                </mat-form-field>
              </div>
            </mat-card-content>
        </mat-card>
  
      </div>
  
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="cadastrar()">Cadastrar</button>
            <a mat-stroked-button routerLink="../../jogo/listar"> Listar Jogo </a>
        </mat-card-actions>
        
    </mat-card-content>
</mat-card>