<mat-card>
    <mat-card-title> Editar jogo </mat-card-title>
    <mat-card-content>
  
      <div class="jogo">
        
        <mat-card>
            <mat-card-title> Modificar Jogo </mat-card-title>
            <mat-card-content>
              <div class="conteudo-jogo">
                <mat-form-field>
                  <mat-label for="nome">Digite o nome</mat-label>
                  <input matInput placeholder="{{jogo.nome}}" type="text" name="nome" [(ngModel)]="nome"/>
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="genero">Digite o genero</mat-label>
                  <input matInput placeholder="{{jogo.genero}}" type="text" name="genero" [(ngModel)]="genero" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="plataforma">Digite a Plataforma</mat-label>
                  <input matInput placeholder="{{jogo.plataforma}}" type="text" name="plataforma" [(ngModel)]="plataforma"/>
                </mat-form-field>
              </div>
            </mat-card-content>
        </mat-card>
  
      </div>
  
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="editar()">Editar</button>
        </mat-card-actions>
        
    </mat-card-content>
</mat-card>
