<mat-card>
    <mat-card-title> Deletar jogo </mat-card-title>
    <mat-card-content>
  
      <div class="jogo">
        
        <mat-card>
            <mat-card-title> Deseja realmente deletar</mat-card-title>
            <mat-card-content>
              <div class="conteudo-jogo">
                <mat-form-field>
                  <mat-label for="id">Id do jogo</mat-label>
                  <input matInput placeholder="Nome Jogo" type="text" name="id" [(ngModel)]="id" />
                </mat-form-field>
              </div>
            </mat-card-content>
        </mat-card>
  
      </div>
  
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="deletarJogo()">Deletar</button>
            <!-- <a mat-stroked-button routerLink="jogo/listar"> Listar Jogo </a> -->
        </mat-card-actions>
        
    </mat-card-content>
</mat-card>