<mat-card>
    <mat-card-title> Deletar jogo </mat-card-title>
    <mat-card-content>
  
      <div class="jogo">
        
        <mat-card>
            <mat-card-title> Deseja realmente deletar o jogo {{jogo.nome}}</mat-card-title>
        </mat-card>
  
      </div>
  
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="deletarJogo()">Deletar</button>
            <a mat-stroked-button routerLink="jogo/listar"> Cancelar </a>
        </mat-card-actions>
        
    </mat-card-content>
</mat-card>